<h1>Trips#index</h1>


<%if flash[:destroy]%>
    <p style="color: green"><%= flash[:destroy]%></p>
<%end%>

<div>
    <%@trips.each do |trip| %>
        <p>City: <strong><%=link_to(trip.destination.city, trip_path(trip))%></strong></p>
         <p>ID <strong><%=trip.id%></strong></p>
        <p>User <strong><%=trip.user.name%></strong></p><br><br>
    <%end%>
</div>

