<html>
<head>
<h1>JVC Destinations</h1>
<h2> Expand your life </h2>
</head>
<body>
<div class="list-group">
<% @destinations.each do |destination|%>
  
    <%= link_to destination.full_name, destination_path(destination), class: "list-group-item list-group-item-action"%>
  
    
  <%end%>
    </div>

<h3> Top Five Destinations </h3>
  <% @top_five.each do |destination|%>
    <div class="card mb-3">
        <img src="https://www.naturalworldsafaris.com/media/4658/nws-st-victoria-falls.jpg"  class="card-img-top med-img" alt="...">
        <div class="card-body">
             <h5 class="card-title"><%= link_to destination.full_name, destination_path(destination)%></h5>
        </div>
    </div>

   <%end%>



</body>
</html>