<h1>JVC Destinations</h1>
<h2> Expand your life </h2>

<% @destinations.each do |destination|%>
<ul>
<li><%= link_to destination.full_name, destination_path(destination)%></li>
</ul>
<%end%>
 

<h3> Top Five Destinations </h3>
<% @top_five.each do |destination|%>
<li><%= link_to destination.full_name, destination_path(destination)%></li>
<%end%>
