<html>
<head>
<h1>JVC Destinations</h1>
<h2> Expand your life </h2>
</head>
<body>
<div class="list-group">
<% @destinations.each do |destination|%>
  <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
<li><%= link_to destination.full_name, destination_path(destination)%></li>
  
  <a href="#" class="list-group-item list-group-item-action list-group-item-primary">A simple primary list group item</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">A simple secondary list group item</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-success">A simple success list group item</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-danger">A simple danger list group item</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">A simple warning list group item</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-info">A simple info list group item</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-light">A simple light list group item</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
  <%end%>
</div>

<h3> Top Five Destinations </h3>
 <div class="card mb-3">
  <img src="https://www.naturalworldsafaris.com/media/4658/nws-st-victoria-falls.jpg"  class="card-img-top med-img" alt="...">
  <div class="card-body">
  <% @top_five.each do |destination|%>
   <li <h5 class="card-title"><%= link_to destination.full_name, destination_path(destination)%></h5></li>
    <%end%>
  </div>
</div>

<div class="card mb-3">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>



</body>
</html>