// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
    padding: 0px;
}
.div.card.mb-3{
    position: relative;
    
}