// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

head {
    color: red;
}
.card {
    color: white;
}


.user-image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
}       